@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

 body {
 background: #85067b;
background: linear-gradient(180deg,#020702 0%, rgb(231, 8, 231) 17%, rgb(0, 0, 0) 54%, rgb(87, 1, 95) 80%);
  font-family: 'Keania One', sans-serif;
  margin: 0;
  padding: 0px;
  width: 1300px;
  height: 100vh;
  box-sizing: border-box;
}
#tith {
  color: #000000;
  position: relative; 
    top: 0px;
    left: 40px;
    font-size: 70px;
    top: 20px;
}

#blanco {
  color: #000000;
  -webkit-text-stroke: 0.1px rgb(0, 0, 0);
}
#button1 {
   display: inline-block;
  background: linear-gradient(to bottom, #000000, #000000);
  color: #7404ec;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 1px;
}
#indexsp {
  color: #f30cf3;
}
#blanco1 {
    color: #070a0b;
    -webkit-text-stroke: 0.1px black;
    font-size: 16px;
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    line-height: 19.2px;
    word-wrap: break-word;
    position: relative; 
    margin: 5px;
    }
.img1 {
    position: absolute;
    top: 40px;   
    left: 1000px;   
    width: 400px; 
}

.img2 {
    position: absolute;
    top: 400px;   
    left: 600px;
    width: 400px;
}

.vid1 {
  position: absolute;
  top: 400px;
  left: 1100px;
  width:400px;
}

.img3 {
  position: absolute;
  top: 400px;
  left: 100px;
  width: 100px;
}

.img4 {
  position: absolute;
  top: 250px;
  left: 800px;
  width: 200px;
}

.img5{
  position: absolute;
  top: 300px;
  left: 100px;
  width: 300px;
}

.img6{
  position: absolute;
  top: 370px;
  left: 90px;
  width: 800px;
}

.img7{
  position: absolute;
  top: 200px;
  left: 90px;
  width: 800px;
}

.img8{
   position: absolute;
  top: 380px;
  left: 90px;
  width: 800px;
}

.img9{
  position: absolute;
  top: 300px;
  left: 90px;
  width: 800px;
}

.img10{
  position: absolute;
  top: 280px;
  left: 90px;
  width: 800px;
}
